
@import 'theme';

// Placeholder: $code-block
$code-block {
  background: $highlight-background;
  color: $highlight-foreground;
  line-height: $line-height-code-block;
  margin: 0 auto 20px;
}

pre, code {
  font-family: $code-font-family;
}

code {
  background: $code-background;
  border-radius: $code-border-radius;
  color: $code-foreground;
  padding: 2px 4px;
  word-wrap();
}

.highlight {
  @extend $code-block;

  *::selection {
    background: $highlight-selection;
  }

  pre {
    border: 0;
    margin: 0;
    padding: 10px 0;
    font-size: $code-font-size;
  }

  table {
    border: 0;
    margin: 0;
    width: auto;

    // TODO:
    position: relative;
    left: -50px;
  }

  td {
    border: 0;
    padding: 0;
  }

  figcaption {
    background: $code-background;
    color: $highlight-foreground;
    font-size: $table-font-size;
    line-height: 1.2;
    padding: .5em;
    clearfix();

    a {
      color: $highlight-foreground;
      float: right;

      &:hover {
        border-bottom-color: $highlight-foreground;
      }
    }
  }

  .gutter {
    disable-user-select();

    pre {
      background: $highlight-gutter.bg-color;
      color: $highlight-gutter.color;
      padding-right: 20px;
      text-align: right;

      font-feature-settings: "ss03", "ss04";
      font-weight: lighter;
    }
  }

  .code pre {
    display: block;
    overflow-x: auto;
    color: $black-code;
  }
}

.gist table {
  width: auto;

  td {
    border: 0;
  }
}

pre {
  @extend $code-block;
  overflow: auto;
  padding: 10px;

  code {
    background: none;
    color: $highlight-foreground;
    font-size: $code-font-size;
    padding: 0;
    text-shadow: none;
  }

  color-scheme()
}
